body {
    background-color: var(--background-file-uploader);
}

.Uploader-container {
    font-family: var(--font-family-uploader);
}

.Uploader-title {
}

.Uploader-form-label {
}

.Uploader-dad-container {
    cursor: pointer;
    width: 10rem;
    height: 10rem;
    border: 2px solid var(--background-border-uploader);
    border-style: dashed;
    border-radius: 10px;
}

.Uploader-or {
}

.Uploader-cs-container {
    cursor: pointer;
    background-color: var(--blue-button-uploader);
    padding: 0.9rem;
    border-radius: 12px;
    width: 9rem;
}

.Uploader-input {
    display: none;
}

.Uploader-input-label {
    color: white;
}
