body {
    background-color: var(--background-file-uploader);
    margin: 0 auto;
    padding: 0;
    text-align: center;
}

.separator {
    margin-top: 1.3rem;
}

.Uploader-container {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-family: var(--font-family-uploader);
    height: 33rem;
    width: 31rem;
    background-color: white;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Uploader-title {
    color: var(--gray-title-uploader);
    font-weight: 500;
    font-size: 23px;
    margin-top: 2.5rem;
}

.Uploader-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Uploader-form-label {
    color: var(--gray-span-uploader);
    font-size: 14px;
    line-height: 18px;
}

.Uploader-dad-container {
    background-color: var(--background-file-uploader);
    cursor: pointer;
    width: 26rem;
    height: 15rem;
    border: 2px dashed var(--background-border-uploader);
    border-radius: 10px;
}

.Uploader-input-image {
    width: 8rem;
    height: auto;
    margin-top: 2.5rem;
}

.Uploader-input-text {
    color: var(--gray-label-uploader);
    font-size: 14px;
    line-height: 18px;
    margin-top: 2rem;
}

.Uploader-or {
    color: var(--gray-label-uploader);
}

.Uploader-cs-container {
    cursor: pointer;
    background-color: var(--blue-button-uploader);
    padding: 10px;
    border-radius: 12px;
    width: 9rem;
}

.Uploader-input {
    display: none;
}

.Uploader-input-label {
    color: white;
}
